body{
    background-color: rgb(203, 225, 234);
}
body { 
    font-family: 'Times New Roman', Times, serif;
    } 
    #h1-1{
        font-size: 40px;
        color:cornflowerblue;
        text-align: center;
    }
    #img1{
        text-align: center;
    }
    #menu{
        width: 150px center;
        height: 200px center;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px center;
        margin: 15px center;
        background-color:darkgrey;
        text-align: center;
        color:rgb(22, 42, 80);
    } 
    #metodo{
        color: black;
        font-size: 20px;
    }
    #explicaçao{
        color: black;
        text-align:right;
    }
    #img-1{
        text-align: center;
    }
    #h1-1{
        color:rgb(22, 42, 80);
        text-align: left; 
    }
    #parag-1{
        font-size: 18px;
    }
    #h2-1{
        color:rgb(22, 42, 80);
    }
    #lista{
        width: 300px;
        height: 100px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
        color:rgb(22, 42, 80);
    }
    #h2-2{
        color:rgb(22, 42, 80);
    }
    #parag-2{
        font-size: 18px;
    }
    #dl-1{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-2{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-3{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-4{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-5{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-5{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-6{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-7{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-8{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #dl-9{
        width: 300px;
        height: 152px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 15px;
        background-color:darkgrey;
    }
    #footer{
        width: 300px center;
        height: 50px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 5px;
        text-align: center;
        font-size: 18px;
        background-color: cornflowerblue;
    }
