body{
    background-color: rgb(203, 225, 234);
}
body { 
    font-family: 'Times New Roman', Times, serif;
    } 
    #h1-1{
        text-align: center;
        color: cornflowerblue;
    }
    #img{
        text-align: center;
    }
    #menu{
        width: 150px center;
        height: 200px center;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px center;
        margin: 15px center;
        background-color:darkgrey;
        text-align: center;
        color:rgb(22, 42, 80);
    } 
    #P-1{
        font-size: 20px;
    }
    #img-2{
        text-align: center;
    }
    #footer{
        width: 300px center;
        height: 50px;
        border: 5px solid rgb(22, 42, 80);
        padding: 20px;
        margin: 5px;
        text-align: center;
        font-size: 18px;
        background-color: cornflowerblue;
    }
